<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.display.sholat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.jazzhand"
        android:required="false" />
    <!-- subfeature touchscreen set false, no.17-->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JadwalSholat"
        android:usesCleartextTraffic="true"
        android:name="com.display.sholat.App"
        tools:targetApi="m">
        <activity
            android:name="com.display.sholat.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:icon="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.display.sholat.ui.AppActivity"
            android:label="@string/app_name"
            android:banner="@mipmap/ic_banner"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>